<div class="row">
    <div class="md-12 mb-3 mt-3">
      <button class="btn btn-success me-3" (click)="sortAscending()">Sort Ascending</button>
      <button class="btn btn-success" (click)="sortDescending()">Sort Descending</button>
    </div>
</div>
<div class="card">
    <div class="card-header">Countries list</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries">
                    <td>{{ country.name }}</td>
                    <td>{{ country.region }}</td>
                    <td>{{ country.area }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>